<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Inventory</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body class="container p-4">
    <h1 class="mb-4">IT Inventory System</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th><th>Hostname</th><th>IP</th><th>OS</th><th>CPU</th><th>RAM (GB)</th><th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for d in devices %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>{{ d[4] }}</td>
                <td>{{ d[5] }}</td>
                <td>{{ d[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
